<%= turbo_frame_tag 'posts' do %>
  <%= flash_notice %>

  <%= form_with model: @post, url: posts_path, method: :post do |f| %>
    <div class="mb-3">
      <%= f.label      :title, class: "form-label" %>
      <%= f.text_field :title, class: "form-control", 'aria-describedby': help_tag_id(:title), placeholder: "Great article about serverless Ruby..." %>
      <%= error_message(@post, :title) %>
    </div>

    <div class="mb-3">
      <%= f.label      :description, class: "form-label" %>
      <%= f.text_area :description, class: "form-control" %>
      <%= error_message(@post, :description) || help_tag('Feel free to add links to any articles', :description) %>
    </div>

    <%#<div class="mb-3">%>
      <%#<%= f.label      :published_at, class: "form-label" %>
      <%#<%= f.date_field :published_at, class: "form-control" %>
      <%#<%= error_message(@post, :published_at) || help_tag('When was the Article published', :published_at) %>
    <%#</div>%>

    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
<% end %>
