<%= turbo_frame_tag 'posts' do %>
  <%= flash_notice %>

  <%= form_for @post do |f| %>
    <div class="mb-3">
      <%= f.label      :title, class: "form-label" %>
      <%= f.text_field :title, class: "form-control", 'aria-describedby': help_tag_id(:title), placeholder: "Great article about serverless Ruby..." %>
      <%= error_message(@post, :title) %>
    </div>

    <div class="mb-3">
      <%= f.label      :url, class: "form-label" %>
      <%= f.text_field :url, class: "form-control", 'aria-describedby': help_tag_id(:url), placeholder: "https://my-blog/awesome-serverless-ruby-feature.html" %>
      <%= error_message(@post, :url) %>
    </div>

    <div class="mb-3">
      <%= f.label      :description, class: "form-label" %>
      <%= f.text_area :description, class: "form-control", row: 10, style: 'min-height: 15em' %>
      <%= error_message(@post, :description) || help_tag("Supports markdown", :description) %>
    </div>

    <%#<div class="mb-3">%>
      <%#<%= f.label      :published_at, class: "form-label" %>
      <%#<%= f.date_field :published_at, class: "form-control" %>
      <%#<%= error_message(@post, :published_at) || help_tag('When was the Article published', :published_at) %>
    <%#</div>%>

    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
<% end %>
