<%= turbo_frame_tag 'posts' do %>
  <%= flash_notice %>

  <div class="row">
    <h1>Latest Serverless Ruby posts</h1>
  </div>

  <% @posts.each do |post| %>
    <div class="row gx-5">
      <div class="col p-3">
        <div class="card p-3">

          <div class="card-body">
            <%#= image_tag post.user.avatar_url %>
            <h5 class="card-title"><%= link_to post.title, post %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Published <%= l(post.published_at, format: :short) %> by <%= link_to post.user.username, post.user.url %></h6>

            <p><%= truncate(post.description) %></p>

            <%= link_to 'Show', post, class: "card-link" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= new_post_link(css: 'btn btn-outline-success') %>
<% end %>
