<%= content_for :open_graph do %>
  <%= tag.meta nil, property: "og:title", content: 'Serverless Ruby' %>
  <%= tag.meta nil, property: "og:description", content: 'Latest posts from the world of Serverless Ruby (FaaS Ruby)' %>
  <%= tag.meta nil, property: "og:type",  content: 'website' %>
  <%= tag.meta nil, property: "og:url",   content: root_url %>
  <%= tag.meta nil, property: "og:image", content: image_url('faas-ruby.jpg') %>
<% end %>

<%= turbo_frame_tag 'posts' do %>
  <%= flash_notice %>


  <div class="row">
    <h1>Latest Serverless Ruby posts</h1>

    <p>
      Do you have an article, news or project related to Serverless Ruby? Please share it with us! <%= new_post_inline_link %>.
    </p>

  </div>

  <%= render partial: 'posts/post', collection: @posts, cached: true %>

  <%= new_post_link(css: 'btn btn-outline-success') %>
<% end %>
