<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">ServerlessRuby</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><%= link_to new_post_link(css: 'nav-link') %></li>
        <li class="nav-item"><%= link_to 'Petition', petition_path, class: "nav-link" %></li>
      </ul>
      <% if session[:user_id] %>
        <%= link_to 'Sign Out', signout_path, class:"btn btn-outline-danger", data: {'turbo-frame' => '_top'} %>
      <% else %>
        <%= link_to '/auth/github', class:"btn btn-outline-success", data: {'turbo-frame' => '_top'} do %>
          <%= render 'github_icon' %> Sign In
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
